<section class="about-us-article">
    <h1>About GameVision</h1>
    <article>GameVision is an application for people who, for various reasons, cannot play games themselves but
        would
        still like to experience the gripping worlds and storylines modern games have to offer. GameVision
        maintains
        a repository of game playthroughs, offering a movie-like experience. Whether you are curious what your
        kids’
        favourite game is all about or the only time you have to check up on the next game in your favourite
        series
        is on your daily commute, we’ve got you covered.
    </article>
</section>